body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #f7f7f7;
    text-align: center;
    padding: 20px;
}

header h1 {
    color: rgb(248, 115, 137);
    font-size: 36px;
}

nav {
    display: flex;
    justify-content: flex-end;
    background-color: #fff;
    padding: 10px 50px;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #555;
    font-weight: bold;
}

.enroll-btn {
    background-color: rgb(34, 237, 237);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

.intro-section {
    padding: 50px;
    background-color: whitesmoke;
    text-align: center;
}

.intro-section h2 {
    color: #ff4081;
    font-size: 30px;
}

.intro-section p {
    color: #666;
    line-height: 1.8;
}

.services {
    display: flex;
    background-color: whitesmoke;
    justify-content: left;
    padding: 50px;
}

.service-box {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    text-align: center;
    width: 200px;
}

.service-box img {
    width: 50px;
    height: 50px;
}

.class-section {
    background-color: #ffffff;
    padding: 50px;
    text-align: center;
}

.class-section h1 {
    color: #303f9f;
    margin-bottom: 20px;
}

.classes {
    display: flex;
    justify-content: space-around;
    background-color: #ffeff3;
}

.class-box {
    width: 300px;
    background-color:#ffeff3 ;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
}

.class-box img {
    width: 100%;
    border-radius: 10px;
}

.teachers {
    background-color: white;
    padding: 50px;
    text-align: center;
}

.teacher-list {
    display: flex;
    justify-content: center;
}

.teacher-box {
    text-align: center;
    width: 200px;
    margin: 20px;
}

.teacher-box img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

footer {
    background-color: navy;
    color: white;
    text-align: center;
    padding: 20px;
}

footer a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
} 